@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media screen and (min-height: 800px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
} */

/* switch */
.nav {
  background-blend-mode: normal, soft-light;
  box-shadow: 1.11111px 6.66667px 13.3333px rgba(26, 29, 60, 0.15);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}

.dark-mode-toggle-button {
  background: rgba(177, 173, 173, 0.2);
  background-blend-mode: normal, soft-light;
  box-shadow: 1.11111px 6.66667px 13.3333px rgba(26, 29, 60, 0.15);
}

.marquee {
  animation: loop 40s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.tab-nav-switch {
  background-blend-mode: normal, soft-light;
  box-shadow: 1.11111px 6.66667px 13.3333px rgba(26, 29, 60, 0.15);
  backdrop-filter: blur(15px);
}

.infinite-spin {
  animation: infinite-spin 40s linear infinite;
}

@keyframes infinite-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dummy {
/* switch */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 8px 8px 16px;
gap: 16px;

margin: 0 auto;
width: 361px;
height: 54px;

background: linear-gradient(0deg, rgba(177, 173, 173, 0.2), rgba(177, 173, 173, 0.2)), rgba(0, 0, 0, 0.4);
background-blend-mode: normal, soft-light;
border: 1px solid #3F3F3F;
box-shadow: 1.11111px 6.66667px 13.3333px rgba(26, 29, 60, 0.15);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}